body {
  margin: 0;
  font-family: serif;
}

* {
  box-sizing: border-box;
}

code {
  font-family: monospace;
}

a {
  color: #333;
  text-decoration: underline gray dotted;
}

li {
  line-height: 1.5;
}
